.advantages {
  position: relative;
  overflow: hidden;
}

.advantages__bg-wrapper {
  position: absolute;
  top: 0;
  width: 100%;
  min-height: 100%;
  background-color: $color-solitude;
  z-index: -1;

  @include vp-767 {
    height: 997px;
  }
}

.advantages__background {
  position: absolute;
  display: block;
  min-width: 100%;
  height: 562px;
  min-height: 100%;
  object-fit: cover;
  opacity: 0.1;

  @include vp-1023 {
    height: 588px;
  }

  @include vp-767 {
    height: 997px;
    object-position: -10px;
  }
}

.advantages__container {
  padding-top: 109px;
  padding-bottom: 120px;

  @include vp-1023 {
    padding-top: 90px;
    padding-bottom: 100px;
  }

  @include vp-767 {
    padding-top: 56px;
    padding-bottom: 65px;
  }
}

.advantages h2 {
  margin-top: 0;
  margin-bottom: 50px;
  font-weight: 600;
  font-size: 28px;
  line-height: 150%;
  text-align: center;

  @include vp-1023 {
    font-size: 26px;
  }

  @include vp-767 {
    margin-bottom: 31px;
    font-size: 24px;
  }
}

.advantages__list {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  list-style-type: none;

  @include vp-1023 {
    gap: 30px;
  }

  @include vp-767 {
    grid-template-columns: 1fr;
  }
}

.advantages__item {
  position: relative;
  padding: 80px 30px 47px 30px;
  background-color: $color-alice-blue;

  @include vp-1023 {
    padding: 70px 15px 21px 20px;
  }

  &::before {
    content: "";
    position: absolute;
    top: 30px;
    left: 30px;
    height: 32px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

    @include vp-1023 {
      top: 26px;
      left: 20px;
      height: 26px;
    }
  }

  &--ship::before {
    width: 27px;
    background-image: url("../img/sprite/ship.svg");

    @include vp-1023 {
      width: 21px;
    }
  }

  &--tick::before {
    width: 38px;
    background-image: url("../img/sprite/tick.svg");

    @include vp-1023 {
      width: 27px;
    }
  }

  &--boat::before {
    width: 44px;
    background-image: url("../img/sprite/boat.svg");

    @include vp-1023 {
      width: 36px;
    }
  }
}

.advantages h3 {
  margin-top: 0;
  margin-bottom: 9px;
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;

  @include vp-1023 {
    font-size: 18px;
  }

  @include vp-767 {
    padding-right: 60px;
  }
}

.advantages p {
  margin: 0;
  font-size: 14px;
  line-height: 20px;
}
