.contacts__container {
  display: flex;
  align-items: center;
  padding-top: 120px;
  padding-bottom: 120px;

  @include vp-1023 {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  @include vp-767 {
    flex-direction: column-reverse;
    padding-top: 57px;
    padding-bottom: 65px;
  }
}

.contacts__map {
  flex-shrink: 0;
  width: 560px;
  height: 306px;
  margin-right: 100px;

  @include vp-1023 {
    width: 324px;
    height: 335px;
    margin-right: 30px;
  }

  @include vp-767 {
    width: 100%;
    height: 316px;
    margin-right: 0;
  }
}

.contacts__image {
  width: 560px;
  height: 306px;
  object-fit: cover;

  @include vp-1023 {
    width: 324px;
    height: 335px;
  }

  @include vp-767 {
    width: 100%;
    height: 316px;
  }

  &--hide {
    display: none;
  }
}


.contacts p {
  margin: 0;
  margin-bottom: 32px;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;

  @include vp-1023 {
    margin-bottom: 27px;
  }
}

.contacts__list {
  display: flex;
  flex-direction: column;
  gap: 21px;
  margin: 0;
  padding: 0;
  list-style-type: none;

  @include vp-767 {
    margin-bottom: 37px;
  }
}

.contacts__link {
  display: flex;
  font-size: 16px;
  line-height: 150%;
  transition: color $trans-default;


  @include hover-focus {
    color: $color-kashmir-blue;
  }

  &--map br {
    display: none;

    @include vp-1023 {
      display: block;
    }
  }

  &--map .contacts__icon {
    @include vp-1023 {
      margin-bottom: 15px;
    }
  }
}

.contacts__icon {
  fill: currentColor;
  margin-right: 10px;
}
