.header {
  position: relative;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;

  @include vp-1023 {
    box-shadow: initial;
  }

  @include vp-767 {
    min-height: 500px;
  }
}

.header__bg-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  min-width: 100%;
  min-height: 100%;

  @include vp-1023 {
    height: 638px;
  }

  @include vp-767 {
    left: 50%;
    transform: translateX(-50%);
    width: 758px;
    height: 568px;
  }
}

.header__background {
  display: block;
  width: 100%;
  min-height: 100%;
  height: 650px;
  object-fit: cover;
  background-color: $color-tangaroa;

  @include vp-1023 {
    height: 638px;
  }

  @include vp-767 {
    height: 568px;
  }

  @include vp-374 {
    object-position: 20px;
  }

  &--nojs {
    @include vp-767 {
      height: 100%;
    }
  }
}

.header__container {
  position: relative;
  display: flex;
  align-items: center;
  padding-top: 35px;

  @include vp-1023 {
    padding-top: 30px;
  }

  @include vp-767 {
    padding-top: 20px;
  }
}

.header__nav {
  margin-left: auto;

  @include vp-767 {
    margin: 0;
  }
}
